#ONE{
    width:100%;
}
.dps{
    height:200px;
    margin:5px;
    border:3px ridge black;
}
.change{
    color:rebeccapurple;
    text-decoration:underline;
    font-family:cursive;
    font-size:40px;
}
.abc{
    font-family:cursive;
    text-decoration:underline;
}